


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin:0;
    padding: 0;
     font-family: "Roboto", sans-serif;
}
body{
    background-color: black;
    color: white;
}

.border{
    border: 2px solid red;
    margin: 3px;
}
 .left{

    width: 25vw;
    padding: 34px;
 } 
 .right{
    width: 75vw;
 }
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
    
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}
ul li{
    display: flex;
    gap: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;

}
/* .home{
    padding: 10px;
} */
.home ul li img{
    width: 17px;

}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: rgb(49, 48, 48);
}

.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top:14px ;
    font-size: bold;
    align-items: center;
    padding: 23px  14px;
    font-size: 13px;
}

.heading img{
    /* width: 100%; */
     align-items: center;
}

.library{
    min-height: 50vh;
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0px;
}

.footer a{
    color: grey;
}
