


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin:0;
    padding: 0;
     font-family: "Roboto", sans-serif;
}
body{
    background-color: black;
    color: white;
}

.border{
  
    margin: 3px;
}
 .left{
     

    width: 28vw;
    padding: 34px;
 } 
 .right{
    width: 75vw;
     background-color: rgb(49, 48, 48);
      /* position: relative; */
      height: 100vh;
 }
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
    
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}
ul li{
    display: flex;
    gap: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;

}
/* .home{
    padding: 10px;
} */
.home ul li img{
    width: 17px;

}
.invert{
    filter: invert(1);
}
.bg-grey{
     background-color: rgb(49, 48, 48);
}

.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top:14px ;
    font-size: bold;
    align-items: center;
    padding: 23px  14px;
    font-size: 13px;
}

.heading img{
    /* width: 100%; */
     align-items: center;
}

.library{
    min-height: 50vh;
    position: relative;
}
 .footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 15px;
    position: absolute;
    bottom: 0px;
    padding: 10px;

}

.footer a{
    color: grey;
} 

.right-arrow{
    width: 19px;

    margin-bottom: 6px;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(83, 81, 81);
    height: 72px;
    /* align-items: center;
    padding: 14px 23px; */
}

.header > *{
    padding: 20px;
  
}
.spotifyPlaylists{
    padding: 16px;
}

 .spotifyPlaylists .card{
    width: 180px;
     /* border: 2px solid red; */
 
 }
 .cardContainer{
    margin: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
 }
 .card{
    /* width: 100px; */
    padding: 10px;
    border-radius: 5px ;
    background-color: #252525;
    position: relative;
 }
.card > *{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
      
}
.play{
   padding: 4px;
   display: flex;
   
   align-items: center;
   justify-content: center;
   /* position: relative; */
   position: absolute;
   top: 270px;
   right: -40px;
   opacity: 0;
   transition: all 1s ease-in-out;
}
 .button > *{
    margin: 0 12px;
 }
.signupbtn{
    /* background-color: rgb(122, 119, 119); */
      background-color: #4d4a4a;
    color: rgb(24, 22, 22);
    font-weight: bold;
    outline:none;
   cursor: pointer;
   border: none;
   font-size: 16px;
}

.signupbtn:hover{
    font-size:17px;
    color: white;
}
.loginbtn{
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}
.loginbtn:hover{
    font-weight: bold;
    /* padding: 11px; */
    font-size: 17px;
}

.playbar{
    position: absolute;
    bottom: 0;
    background-color: rgb(139, 193, 139);
    width: 117vh;
    padding: 12px;
    
}