
*{
    margin:0;
    padding: 0;
}


.border{
    border: 2px solid red;
    margin: 3px;
}
 .left{

    width: 25vw;
    padding: 34px;
 } 
 .right{
    width: 75vw;
 }
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
    
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}
ul li{
    display: flex;
    gap: 15px;
    list-style: none;

}

.home ul li img{
    width: 17px;

}
.invert{
    filter: invert(1);
}
